<!DOCTYPE html>


<html>
		<head>
			<link rel="stylesheet" type="text/css" href="../static/style.css">
		</head>	
		<body>
			      <header id="main-header">
                        <div class="container">
                                <h1> RSA Encryption / Decryption Calculator </h1>
                        </div>
                </header>

                <nav id="navbar">
                        <div class="container">
                                <ul>
                                        <li><a href="http://127.0.0.1:5000/"> Home </a></li>
                                        <li><a href="http://127.0.0.1:5000/encryptData">Encryption Calculator</a></li>
                                        <li><a href="http://127.0.0.1:5000/decryptData">Decryption Calculator</a></li>
					<li><a href="http://127.0.0.1:5000/accessDB"> Access Database </a> </li>
                                        <li><a href="http://127.0.0.1:5000/furtherReading">Further Reading</a></li>
                                </ul>
                        </div>
                </nav>



		 <table style="width:100%">
  			<tr>
   			 <th>c</th>
   	 		<th>m </th>
   			 <th>e</th>
			<th> n </th>
 			 </tr>
  			<tr>
  	 		 <td>Jill</td>
   			 <td>Smith</td>
   			 <td>50</td>
  			</tr>
  			<tr>
   			 <td>Eve</td>
    			<td>Jackson</td>
    			<td>94</td>
  			</tr>
			</table>
		
			 <table style="width:100%">
                        <tr>
                         <th>c</th>
                        <th>m </th>
                         <th>e</th>
                        <th> n </th>
                         </tr>
                        <tr>
                         <td>Jill</td>
                         <td>Smith</td>
                         <td>50</td>
                        </tr>
                        <tr>
                         <td>Eve</td>
                        <td>Jackson</td>
                        <td>94</td>
                        </tr>
                        </table>
 



</html>
