<!DOCTYPE html>

        <html>
                <head>
                        <link rel="stylesheet" type="text/css" href="../static/style.css">
                </head>
                <body>
                              <header id="main-header">
                        <div class="container">
                                <h1> RSA Encryption / Decryption Calculator </h1>
                        </div>
                </header>

                <nav id="navbar">
                        <div class="container">
                                <ul>
                                        <li><a href="http://127.0.0.1:5000/"> Home </a></li>
                                        <li><a href="http://127.0.0.1:5000/encryptData">Encryption Calculator</a></li>
                                        <li><a href="http://127.0.0.1:5000/decryptData">Decryption Calculator</a></li>
					<li><a href="http://127.0.0.1:5000/accessDB"> Access Database </a> </li>
                                        <li><a href="http://127.0.0.1:5000/furtherReading">Further Reading</a></li>
                                </ul>
                        </div>
                </nav>

                        Decrypt data
                        <form class="my-form" action = "http://127.0.0.1:5000/decryptData" method = 'POST'>

			

                 	p: <br>
                        <input = "text", name = 'p'><br>

                        q: <br>
                        <input = "text", name = 'q'><br>

                        e: <br>
                        <input = "text" name = 'e'><br>

                        c: <br>
                        <input = "text" name = 'c'><br>


                        <p><input type = "submit" value = "submit Decryption values" /> </p>

                </form>
		

		<div class="displayContainer">
		<div class="sidebar">
			
		
			{% if DEC is not none %}
				{{DEC.Dee }} is the secret key
				{{DEC.Emm }} is the decrypted value		
			{%endif%}



		</div>
		</div>









                </body>

        </html>
~                                   
