<!DOCTYPE html>
	

	<html>
		<head> <link rel="stylesheet" type="text/css" href="../static/style.css" > </head>
		<body>
			<h2> Hi, welcome to the RSA Encryption / Decryption Calculator  </h2>



		</body>

		<form action = "http://127.0.0.1:5000/initDB", method = 'POST'>

			<p><input type = "submit" value = "Intialize Database" /> </p>

		</form>

		<body> <h2> c = m to the e mod n </h2> </body>

		<form action = "http://127.0.0.1:5000/encryptionCalc" method = 'POST'>

			
			
			m: <br>
			<input = "text", name = 'm'><br>
			
			e: <br>
			<input = "text", name = 'e'><br>

			n: <br>
			<input = "text", name = 'n'><br>

			<p><input type = "submit" value = "submit encryption values" /> </p>

		</form>


		<body> <h2> m = c to the d mod n </h2> </body>

		<form action = "http://127.0.0.1:5000/decryptionCalc" method = 'POST'>

                        

                        p: <br>
                        <input = "text", name = 'q'><br>

                        q: <br>
                        <input = "text", name = 'q'><br>

                        e: <br>
			<input = "text" name = 'e'><br>
	
			c: <br>
                        <input = "text" name = 'c'><br>


                        <p><input type = "submit" value = "submit encryption values" /> </p>

                </form>

		<form action = "http://127.0.0.1:5000/accessDB", method = 'POST'>

                        <p><input type = "submit" value = "View All Data" /> </p>

                </form>

