<!DOCTYPE html>

<html>

	<head>
		<title> RSA Encryption / Decryption Calculator </title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>

	<body>
		<header id="main-header">
			<div class="container">
				<h1> RSA Encryption / Decryption Calculator </h1>
			</div>
		</header>

		<nav id="navbar">
			<div class="container">
				<ul>
					<li><a href="http://127.0.0.1:5000"> Home </a></li>
					<li><a href="http://127.0.0.1:5000/encryptData">Encryption Calculator</a></li>
					<li><a href="http://127.0.0.1:5000/decryptData">Decryption Calculator</a></li>
					<li><a href="#">Further Reading</a></li>
				</ul>
			</div>
		</nav>

		<section id="showcase">
			<div class="container">
				<h1> What is RSA </h1>
			</div>
		</section>

		<div class="container">
			<section id = "main">
				<h1> Origins </h1>
					<p> RSA was made in Israel </p>
				<h1> How does it work </h1>
					<p> p, q, n, phiN, d, e </p>
				<h1> Where is it used today </h1>
					<p> All sorts of stuff </p>
				<h1> Why is encryption even important </h1>
					<p> Because it is </p>
				
			</section>
		</div>
			

</body>


</html>

















